* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', ;
}

.barraH {
    background-color: black;
    width: 100%;
    height: 1%;

    padding-top: 0.5%;
    color: white;
    display: grid;
    grid-template-columns: auto auto 10%;
}
.redes {
    margin-left: 70%;
    grid-column-start: 2;
    grid-template-columns: 3;
}
.redes a {
    text-decoration: none;
    color: white;
}
.redes a i {
    margin-right: 20px;

}
.iniciar{
    grid-column-start: 3;
    grid-column-end: 4;
}
.iniciar a{
    text-decoration: none;
    color: white;
}

.telefono {
    margin-left: 10%;
    grid-column-start: 1;
    grid-template-columns: 2;
}

      /* Cabezera */
header {
    background-image: url("../img/portada2.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    font-family: Poppins;
}
.Timg{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Timg h1{
    font-family: 'Alex Brush', cursive;
    margin-left: 3%;
    font-size: 130px;
}
.Pimg{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 30px;
}
.Pimg p{
    font-family: 'Alex Brush', cursive;
    margin-left: 3%;
}

            /* Menu */
.menu {
    background-color: #F8E67F80;
    display: grid;
    grid-template-columns: 30% 70%;
}
.menuD {
    grid-column-start: 2;
    grid-column-end: 3;
}
.menuD ul {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1.5%;
}
.menuD li {
    display: inline;
    margin-right: 3%;

}
.menuD li a {
    text-decoration: none;
    color: black;
}
.titulo {
    color: red;
    margin-left: 20%;
    margin-top: 2%;
    grid-column-start: 1;
    grid-column-end: 2;
}
.titulo a{
    text-decoration: none;
    color: black;
}

        /* body */

body {
    background-color: whitesmoke;
}
/* ¿Quienes somos? */

.somos {
    font-family: Poppins;
    display: flex;
    flex-wrap: wrap;
    background-color: #DACA74;
    padding-bottom: 5em;
}

.Tsomos {
    width: 100%;
    padding: 1em;
    font-size: 30px;
}

.Isomos {
    display: flex;
    align-content: center;
    align-items: center;
    width: 50%;
    justify-content: space-around;
}
.Isomos img {
    border-radius: 10%;
    width: 95%;
}
.Psomos {
    width: 50%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    
}
.Psomos div {
    background-color: #A8A17740;
    border-radius: 20px;
    width: 95%;
    height: 60%;
}
.Psomos div p {
    text-align: justify;
    font-size: 130%;
    padding: 2em;
}
.Psomos div button {
    margin-left: 60%;
}
.somos .botont {
    padding: 17px 34px;
    background-color: #928D70;
    border-radius: 20px;
    color: black;
    font-family: Poppins;
}

/* Instalaciones */
.instal {
    font-family: Poppins;
    display: flex;
    flex-wrap: wrap;
    background-color: #E2D796;
    padding-bottom: 5.5em;
}

.Tinstal {
    width: 100%;
    padding: 1em;
    font-size: 30px;
    margin-left: 70%;
}

.Iinstal {
    display: flex;
    align-content: center;
    align-items: center;
    width: 50%;
    justify-content: space-around;
}
.Iinstal img {
    border-radius: 10%;
    width: 95%;
}
.Pinstal {
    width: 50%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}
.Pinstal div {
    background-color: #D2CA9B;
    border-radius: 20px;
    width: 95%;
    height: 60%;
}
.Pinstal div p {
    text-align: justify;
    font-size: 130%;
    padding: 2em;
}
.Pinstal div button {
    margin-left: 30%;
}
.instal .botont {
    padding: 17px 34px;
    background-color: #928D70;
    border-radius: 20px;
    color: black;
    font-family: Poppins;
}

/* Catalogo principal */


.catalogo {
    font-family: Poppins;
    display: flex;
    flex-wrap: wrap;
    background-color: #DAD1A0;
    padding-bottom: 5em;
}

.Tcatalogo {
    width: 100%;
    padding: 1em;
    font-size: 30px;
}

.Icatalogo {
    display: flex;
    align-content: center;
    align-items: center;
    width: 50%;
    justify-content: space-around;
}
.Icatalogo img {
    border-radius: 10%;
    width: 95%;
}
.Pcatalogo {
    width: 50%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}
.Pcatalogo div {
    background-color: #C3BB91;
    border-radius: 20px;
    width: 95%;
    height: 60%;
}
.Pcatalogo div p {
    text-align: justify;
    font-size: 130%;
    padding: 2em;
}
.Pcatalogo div button {
    margin-left: 60%;
}
.catalogo .botont {
    padding: 17px 34px;
    background-color: #928D70;
    border-radius: 20px;
    color: black;
    font-family: Poppins;
}

/* Contacta con nosotros */
.contacta {
    font-family: Poppins;
    display: flex;
    flex-wrap: wrap;
    background-color: #CFC89E ;
    padding-bottom: 5.5em;
}

.Tcontacta {
    width: 100%;
    padding: 1em;
    font-size: 30px;
    margin-left: 60%;
}

.Icontacta {
    display: flex;
    align-content: center;
    align-items: center;
    width: 50%;
    justify-content: space-around;
}
.Icontacta img {
    border-radius: 10%;
    width: 95%;
}
.Pcontacta {
    width: 50%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}
.Pcontacta div {
    background-color: #C3BB91;
    border-radius: 20px;
    width: 95%;
    height: 60%;
}
.Pcontacta div p {
    text-align: justify;
    font-size: 130%;
    padding: 2em;
}
.Pcontacta div button {
    margin-left: 30%;
}
.contacta .botont {
    padding: 17px 34px;
    background-color: #928D70;
    border-radius: 20px;
    color: black;
    font-family: Poppins;
}

        /* Footer */

footer {
    font-family: Poppins;
    width: 100%;
    height: 15em;
    background-color: black;
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
}
.footerR {
    color: white;
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 20px;
}
.footerR a{
    text-decoration: none;
    color: white;
}
.footerR a i{
    font-size: 30px;
    margin: 20px;
    margin-top: 50px;
}
.footerD {
    font-size: 20px;
    margin-top: 100px;
    grid-column-start: 2;
    grid-column-end: 3;
}
.footerD a{
    text-decoration: none;
    color: white;
}
.copy {
    color: white;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
}

/* Pagina Contacta con nosotros  */

.enunciado{
    font-family: Poppins;
    background-color: #8EC7CC;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.Tenunciado {
    text-align: center;
    width: 100%;
    padding: 1em;
    font-size: 30px;
}
.Penunciado {
    text-align: justify;
    font-size: 130%;
    padding: 1em;
}
.Renunciado {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    width: 50%;
}
.social{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.social div{
    display: flex;
    justify-content: center;
    width: 80%;
}
.social div a{
    text-decoration: none;
    color: black;
}
.social div a i {
    font-size: 50px;
}
.Tcontacto {
    display: flex;
    width: 50%;
    flex-direction: row;
    padding: 4%;
}
.Tcontacto div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}
.Tcontacto div i {
    font-size: 30px;
}
.Renunciado p {
    font-size: 130%;
}
.Cinfo{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.formulario {
    background-color: #75A8AD;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 2%;
    margin-bottom: 1%;
    grid-column-start: 1;
    grid-column-end: 2;
}

.Tformulario {
    padding: 3%;
    border-radius: 40%;
}
.Tformulario i {
    font-size: 70px;
}
.Cdato {
    font-size: 20px;
}
.Bdato input{
    background-color: #5C868A;
    border:none;
    border-bottom: 1px solid black;
    width: 100%;
    padding: 2%;
}
.Bdato input::placeholder{
    color: black;
    font-size:20px ;
}
.Benviar button{
    width: 100%;
    background-color: #344F52;
    border: none;
    padding: 2%;
    font-size:20px ;
}
.Bdato textarea{
    background-color: #5C868A;
}
.Bdato textarea::placeholder{
    color: black;
}

    /* Pagina Quienes somos */

.Scontenedor{
    width: 100%;
    height: 100vh;
    font-family: Poppins;
    background-image: url(../img/somos-p.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Svacio {
    width: 50%;
}
.Stitulo{
    background-color: #E5C99840;
    width: 50%;
    height: 100vh;
    margin: 2%;
}
.Sh1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 25%;
    font-size: 25px;
    color: darkorchid;
}
.Sparrafo{
    width: 100%;
    height: 75%;
    font-size: 20px;
    display: flex;
    color: darkslategray;
}
.Sparrafo p {
    margin: 4%;
}

/* Pagina instalacion */

.ScontenedorR{
    width: 100%;
    height: 100vh;
    font-family: Poppins;
    background-color: darksalmon;
    /* background-image: url(../img/somos-p.jpg);
    background-repeat: no-repeat;
    background-size: 100%; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.SvacioR {
    width: 50%;
}
.StituloR{
    background-color: #E5C99840;
    width: 50%;
    height: 100vh;
    margin: 2%;
}
.Sh1R{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 25%;
    font-size: 25px;
    color: darkorchid;
}
.SparrafoR{
    width: 100%;
    height: 75%;
    font-size: 20px;
    display: flex;
    color: darkslategray;
}
.SparrafoR p {
    margin: 4%;
}

.ScontenedorL{
    width: 100%;
    height: 100vh;
    font-family: Poppins;
    background-color: darkred;
    /* background-image: url(../img/somos-p.jpg);
    background-repeat: no-repeat;
    background-size: 100%; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.SvacioL {
    
    background-color: #E5C99840;
    width: 50%;
    height: 100vh;
    margin: 2%;
}
.StituloL{
    width: 50%;
}
.Sh1L{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 25%;
    font-size: 25px;
    color: darkorchid;
}
.SparrafoL{
    width: 100%;
    height: 75%;
    font-size: 20px;
    display: flex;
    color: darkslategray;
}
.SparrafoL p {
    margin: 4%;
}

/* Pagina Iniciar sesion */

.iniciar_sesion{
    font-family: Poppins;
    background-color: #BFF1F1;
    padding-top: 3%;
    padding-bottom: 3%;
}
.iniciar{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3%;
}
.Ih1 {
    font-size: 30px;
    color: darkslategray;
}
.Icontenedor{
    width: 30%;
    height: 30em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ADD8E660;
    border-radius: 20%;
    padding: 2%;
}
.Iformulario {
    width: 100%;
}
.Iimg{
    text-align: center;
    width: 100%;
    height: 30%;

}
.Iimg i{
    font-size: 90px;
}
.Idato{
    display: flex;
    width: 100%;
    height: 20%;
    font-size: 30px;
}
.Idato input{
    width: 100%;
    height: 20%;
    padding: 2%;
}
.Ienviar{
    display: flex;
    justify-content: center;
}
.Ienviar button {
    font-family: Poppins;
    border-radius: 10%;
    margin-top: 10%;
    width: 50%;
    background-color: darkcyan;
    padding: 3%;
}